<div mat-dialog-title class="text-center">
  <h1>Edit Employee</h1>
</div>

<form class="px-6 pb-8">
  <div mat-dialog-content class="pt-[10px]">
    <div class="flex gap-[10px]">
      <mat-form-field class="w-[100%]" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Ex. username">
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Ex. alfath@gmail.com">
      </mat-form-field>
    </div>
    <div class="flex gap-[10px]">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="Ex. Muhajir">
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Ex. Alfath">
      </mat-form-field>
    </div>
    <div class="flex gap-[10px]">
      <mat-form-field appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput type="text" placeholder="Ex. 10.000.000">
      </mat-form-field>
    </div>
    <div class="flex gap-[10px]">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Group</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="education">
          <mat-option *ngFor="let val of gender" [value]="val">{{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full" >
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Fullstack Programmer"></textarea>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="p-0 px-25 py-20">
    <button class="flex-1" mat-raised-button color="warn" type="button" [mat-dialog-close]="false">cancel</button>
    <button class="flex-1" mat-raised-button color="primary" type="submit">update</button>
  </div>
</form>



